body {
  margin: 0;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  min-width: 38em;
  max-width: 50em;
  margin: 0 auto;
  padding: 0 2em 2em;
}

a {
  color: #048;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #026;
  text-decoration: underline;
}

cite {
  font-weight: bold;
}

code {
  font-size: 125%;
  color: purple;
}

nav {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
  text-shadow: 1px 1px 1px #102010;
}

nav, .nav-width {
  width: 11em;
  padding-right: 1em;
}

nav > ul > li {
  list-style-type: none;
}

nav a {
  color: #ee4;
}

nav a:hover {
  text-decoration: none;
  color: #fb0;
}

pre {
  padding-left: 4em;
  font-size: 125%;
  color: purple;
}

.banner {
  width: 27em;
  margin: 0 auto;
}

.banner > h1 {
  font-size: 200%;
  display: inline;
}

#doc-banner {
  margin: 0 auto;
  display: table;
}

#doc-banner > div {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 0 2em;
}

#download-banner {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

#download-banner > div {
  display: table-cell;
  padding: 0 3em;
}

.download-button {
  background: #006295 linear-gradient(#0062b7,#004073) repeat-x scroll 0 0;
  border: 1px solid #008;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
}

.download-button:checked {
  background: #005184;
}

.download-button:hover {
  background: #0073a6;
}

.emph {
  color: #fb0;
}

.highlight {
  background: #eee;
  border: 1px solid #ccc;
}

.links > div.three-cols {
  width: 100%;
  padding-left: 1em;
}

.links h3 {
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
}

.links ul {
  margin: 0.7ex 0;
  padding-left: 2em;
}

#logo {
  position: relative;
  top: 0;
  left: calc(50% - 20em - 30px);
}

#mailing-list {
  padding: 0.7ex 2em;
  font-size: 80%;
  display: table;
  margin: 1em auto 0;
  max-width: 40em;
}

#mailing-list > :first-child {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
  padding-right: 2em;
  text-align: right;
}

#mailing-list > div > h2 {
  font-size: 145%;
}

#mailing-list > div > * {
  margin: 0;
}

#mailing-list-js {
  display: none;
  vertical-align: middle;
}

#mailing-list-js > p {
  margin: 0;
}

#mailing-list-noscript {
  display: table-cell;
  vertical-align: middle;
}

#other-work > ol {
  font-size: 90%;
  margin-right: 3em;
}

#publist > ol {
  font-size: 90%;
  margin-right: 3em;
}

.release-history {
  border-collapse: collapse;
  padding-left: 20px;
}

.release-history > caption {
  display: none;
}

.release-history > thead {
  display: none;
}

.release-history > tbody > tr > td {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  padding: 1px 25px;
}

.release-history form {
  display: inline-block;
}

.release-history input {
  background-color: transparent;
  background-image: none;
  border: medium none;
  color: #048;
  cursor: pointer;
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: bold;
  padding: 0;
}

.release-history input:hover {
  color: #048;
  background-color: transparent;
}

#sponsors {
  color: #888;
  font-size: 75%;
  padding-top: 5ex;
}

#sponsors > h2 {
  margin-bottom: 0;
}

div.three-cols {
    display: table;
}

div.three-cols > div {
    display: table-cell;
    width: 33%;
}

#top {
  min-width: 42em;
  width: 100%;
  height: 193px;
  display: table;
  background: #40b090 linear-gradient(#50c0a0,#30a080) repeat-x scroll 0 0;
  text-shadow: 2px 2px 2px #102010;
  text-align: center;
  font-family: "Trebuchet MS", "lucida sans", Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: 0.5em;
}

#top > div {
  vertical-align: middle;
  display: table-cell;
}

@keyframes flash {
  0% {
    background: initial;
  }
  50% {
    background: #fb0;
  }
  100% {
    background: initial;
  }
}

.bibtex { font-family: Consolas, Courier, monospace;
display: none;
white-space: pre;
position: absolute; left: 5em;
background-color: #eee;
border: 1px solid black;
padding: 0.5ex; }
.xbutton { position: absolute; top: 0px; right: 4px; cursor: pointer; font-weight: bold; font-family: Times, serif; font-size: 12pt }
.link { color: #008; cursor: zoom-in }
#publist li { padding-top: 1ex }
#publist li p.paperinfo { text-indent: 2em; margin-top: 0.5ex; margin-bottom: 0.5ex }
