/* style sheet for Jif documentation
 */
body {
    background-color: rgb(240,240,240)
}

p,ul {
    text-indent: 2ex;
    font-size: 100%;
    width: 80ex
}
p.cont {
    text-indent: 0ex;
}
ol {
    font-size: 100%;
    width: 80ex
}
.code {
      width: 80ex;
      font-family: Courier New, courier, fixed;
      font-size: 90%;
      background-color: rgb(230,230,230);
      border: solid;
      border-color: rgb(200,200,200);
      border-width: 1;
      margin: 5;
      padding: 5
}

span.comment {
    color: "red"
}

h1 { font-family: sans-serif }
h2 { font-family: sans-serif }
h3 { font-family: sans-serif }
h4 { font-family: sans-serif }
