/* style sheet for Jif documentation
 */
body {
    background-color: rgb(240,240,240)
}

p {
    text-indent: 2ex;
    width: 80ex;
    font-size: 100%;
}
i.math {
    font-family: serif
}
ul {
    width: 75ex;
    font-size: 100%;
}
.toc ul {
    padding-left: 1.5ex; 
    width: auto;
}
p.cont {
    text-indent: 0ex;
}
ol {
    font-size: 100%;
    width: 80ex
}
.code {
      width: 90ex;
      font-family: Courier New, courier, fixed;
      font-size: 90%;
      background-color: rgb(230,230,230);
      border: solid;
      border-color: rgb(200,200,200);
      border-width: 1;
      margin: 5;
      padding: 5;
      color: rgb(20,20,30);
}

.mathdisplay {
      width: 90ex;
      font-family: Courier New, courier, fixed;
      font-size: 90%;
      background-color: rgb(230,230,230);
      border: solid;
      border-color: rgb(200,200,200);
      border-width: 1;
      margin: 5;
      padding: 5;
      color: rgb(20,20,30);
}

span.comment {
    color: rgb(150,0,0)
}

h1 { font-family: sans-serif }
h2 { font-family: sans-serif }
h3 { font-family: sans-serif }
h4 { font-family: sans-serif }
